.message {
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}

.message-left {
    background-color: #E5E5EA;
    color: black;
    float: left;
}

.message-right {
    background-color: #1DC04A;
    color: white;
    float: right;
}

.clearer {
    clear: both;
}

.mastfoot .inner {
	padding-bottom: 5px;
}

.masthead .inner {
	padding-top: 5px;
}

.masthead {
	/*width:100%;
    position:fixed;
    z-index:10;
    background:inherit;*/
    z-index:3;
    background-color: #333;
}

.mastfoot {
	background-color: #333;
	z-index: 3;
}

.left {
	float: left;
}

.right {
	float: right;
}

#messages-heading {
}

#scrolling-messages {
	/*width:100%;
    padding-top:92px;
    z-index:5;
    overflow:auto;*/
    z-index: 2;
    position:relative;
    padding-top: 60px;
    padding-bottom: 70px;
}

#messages {
	margin-bottom: 70px;
	width: 400px;
}
